$text-page: #2f2f2f;
$bg-page: #f2f2f2;

body {
  color: $text-page;
  background-color: $bg-page;
}


.button {
	font-size: 1.125rem;
	font-weight: 600;
	padding: 0.5rem 1rem;
	cursor: pointer;
	border : solid 1px;
	border-radius : 0.25rem;
	display: inline;
}